@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Raleway);

html,
body {
	font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* small hack? */
    /*background: linear-gradient(rgb(170, 170, 170)rgb(126, 126, 128)));*/
}

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */


main {
    padding-top : 100px;
    flex: 1;
  }



input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
    /*required for proper track sizing in FF*/
    width: 80px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 80px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(255, 102, 0);
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 80px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(255, 102, 0);
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 80px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(255, 102, 0);
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.showpointer {
    cursor: pointer;
   }
   
.plusminus {
 cursor: pointer;
}

.plusminus:hover {
color : rgb(255,102,0);
 font-weight: bold;
    cursor: hand;
}

.openbtn {
    font-family: 'Roboto', sans-serif;
	color:  rgb(255, 102, 0);
	font-size: 1.8em;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.question {
    font-family: 'Roboto', sans-serif;
	color:  rgb(0, 0, 0);
    font-size: 1.2em;
    padding-left: 0px;
}

.answer {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    padding-left: 20px;
}

.flexitemleft {
    display: flex;
}


.flexitemright {
    display: flex;
    margin-left : 10px;
}

.openbtn:hover {
    cursor: hand;
}
.closebtn {
    font-family: 'Roboto', sans-serif;
	text-align: right;
    right: 0px;
	font-size: 3em;
    cursor: pointer;
}

.closebtn:hover {
    cursor: hand;
}

.logarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;

    width : 100%;
	padding : 3px;
	border: none; 
	border-left: thick solid #555555;
	background: transparent;
	resize: none;
	/*overflow:hidden;*/
}

.flexbox-footer
{
	margin-top: auto;
	visibility: collapse;
	display: flex;
	padding: 0px;
	width: 100%;

	border-left: solid 0px #555; background-color: rgb(255,255,255);;
     box-shadow: 0 0 8px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.6); -o-box-shadow: 0 0 20px rgba(0,0,0,0.6);
}


/* main */

.allSides {
	display: -webkit-flex; 
	-webkit-align-items: center; 
    width: 100%;
	margin-bottom: 10px;
	flex-direction: column;
	padding: 10px 10px 10px 10px;
	align-items: center;
	border: solid 0px #555; 
	/*box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);*/
}


/* spinner */

.spin {
	height: 50px;
	width: 50px;
	margin: 0 auto;
	border-left: 10px solid rgb(76,76,76);
	border-right: 10px solid rgb(255,102,0);
	border-bottom: 10px solid rgb(255,102,0);
	border-top: 10px solid rgb(76,76,76);
	border-radius: 100%;
	background-color:   rgba(255,255,255,0);
}

.spinning {
	-webkit-animation: rotation .8s linear infinite;
	-moz-animation: rotation .8s linear infinite;
	-o-animation: rotation .8s linear infinite;
	animation: rotation 0.8s linear infinite;
}


@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

      
/* flex table */


.largefont
{
    font-size: 30px;
    color: rgb(61, 61, 61);
}


.item2
{
    width: 90vw;
    height: auto;
    margin : 20px;
    margin-left : 60px;
    max-width: 900px;
    margin-right : 60px;
    padding : 20px;
    overflow: auto;

    border: 2px solid rgb(58, 58, 58);
    flex: 0 0 auto;

    font-size: 12px;
}

.flexrowfill {
	display: flex;
	flex-direction: row;
	padding-bottom : 3px;
	flex : 1;
}

.flexcol3 {
	display: flex;
    flex-direction: column;
}


.outerrow2 {
	
	padding-right: 0px;
	padding-top: 3px;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.outerrow {
	width:100%;
	padding-right: 0px;
	padding-top: 3px;
	display: flex;
    flex-direction: row;

    visibility: collapse;
    border-left: solid 0px #555; background-color: rgb(235,235,235);;
    box-shadow: 0 0 8px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 20px rgba(0,0,0,0.6);
   -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.6); -o-box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.flexrow {
	display: flex;
	flex-direction: row;
}

.flexrow2 {
	display: flex;
	flex-direction: row;
    padding-right: 10px;
}

.flexcol {
	display: flex;
	flex-direction: column;
}

.flexcol2 {
	display: flex;
	flex-direction: column;
	width:170px;
}

.flexrowpad {
	display: flex;
	flex-direction: row;
}

.itempad {
	font-size: 100%;
	padding-right: 20px;
	color: black;
	flex: 1;
}


.item {
	font-size: 100%;
	padding-right: 10px;
	color: black;
	flex: 1;
}

/* input box */

.text-input {
	position: relative;
	margin-top: 20px;
}
.text-input input[type="text"] {
	display: inline-block;
	width: 550px;
	height: 40px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid lightgray;
	font-family: 'Roboto', sans serif;
	border-radius: 3px;
	padding: 10px 10px 8px 80px;
	-webkit-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
.text-input input[type="text"] + label {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 40px;
	line-height: 40px;
	color: white;
	border-radius: 3px 0 0 3px;
	padding: 0px 10px;
	background: rgb(255,102,0);
	-webkit-transform: translateZ(0) translateX(0);
		  transform: translateZ(0) translateX(0);
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-webkit-transition-delay: 0.2s;
		  transition-delay: 0.2s;
}
.text-input input[type="text"]:focus + label {
	-webkit-transform: translateY(+120%) translateX(0%);
		  transform: translateY(+120%) translateX(0%);
	border-radius: 3px;
	-webkit-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
.text-input input[type="text"]:focus {
	padding: 10px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-transition-delay: 0.2s;
		  transition-delay: 0.2s;
}

.text-input input[type="text"]:hover {
	cursor: text;
}

/* button */


.button {
      border-radius: 3px; 
	border: none;
	color: white;
	padding: 6px 32px;
	text-align: center;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	font-size: 16px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.darkbutton {
    margin-top: 20px;
    background-color:  rgb(75,75,75);
    color: white;
    border: 1px solid black;
}

.darkbutton:hover {
    background-color: rgb(70,70,70);
    color: white;
}

.darkbutton:active {
        background-color: rgb(255,102,0);
    color: white;
}
      
      
      
/* dropdown */

.listheading {
  text-align: left;
   color: rgb(70,70,70);
     font-size: 16px;
     font-family: 'Roboto', sans-serif;
}

.option {
    margin-left: 18px;
}

.option:hover {
    color: rgb(70,70,70);
}

* {
  box-sizing: inherit;
  cursor: inherit;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: none;
  transition-property: none;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}




label.field {
  border-radius: 2px;
  color: #666;
  display: block;
  margin: 14px;
  max-width: 300px;
  padding: 8px;
  opacity: 0;
  position: relative;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  z-index: 1;
}
label.field span {
  color: inherit;
  display: block;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  left: 9px;
  pointer-events: none;
  position: absolute;
  top: 32px;
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
  -webkit-transition-property: color, font-size, top;
  transition-property: color, font-size, top;
  z-index: 1;
}
label.field span.required::after {
  color: inherit;
  content: "*";
  display: block;
  height: 20px;
  left: -20px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}
.error label.field span {
  color: #F02318;
}
label.field .psuedo_select {
  background: rgba(255, 255, 255, 0);
  position: relative;
  border-color: #666;
  border-style: solid;
  border-width: 0 0 2px 0;
  color: #666;
  cursor: pointer;
  font-size: 18px;
  height: 24px;
  line-height: 24px;
  margin: 24px 0px 0 0;
  min-width: 250px;
  padding-top: 24px;
  outline: 0;
  z-index: 1;
}
label.field .psuedo_select::after {
  background: url("data:image/svg+xml;utf8,<svg fill='%23666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>"), no-repeat;
  content: "";
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition-property: background;
  transition-property: background;
}
label.field .psuedo_select .selected {
  height: 24px;
  left: 1px;
  line-height: 24px;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  will-change: transform;
}
label.field .psuedo_select ul {
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.288);
  display: block;
  height: 0;
  list-style: none;
  margin-top: 2px;
  opacity: 0;
  overflow: hidden;
  padding: 0 1px;
  pointer-events: none;
  -webkit-transition-property: height, opacity;
  transition-property: height, opacity;
  width: 100%;
  z-index: 2;
}
label.field .psuedo_select ul li {
  height: 32px;
  padding: 8px 4px;
}
label.field .deselect {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}
label.field.focused {
  color: #007BED;
}
label.field.focused .psuedo_select {
  border-color: #007BED;
}
label.field.focused .psuedo_select::after {
  background: url("data:image/svg+xml;utf8,<svg fill='%23007BED' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>"), no-repeat;
}
label.field.focused .psuedo_select ul {
  opacity: 1;
  pointer-events: all;
}
